In [1]:
import numpy as np
import pandas as pd

In [5]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))

df_cat = df.select_dtypes("category").copy()

df_cat.describe()

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [6]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))

df_num = df.select_dtypes(["number"]).copy()

df_num.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [8]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))

df_num = df.select_dtypes(["number"]).copy()

df_num.describe().transpose()[["mean", "std"]]

                  mean           std
age          39.207025     14.049960
bmi          30.663397      6.098187
children      1.094918      1.205493
charges   13270.422265  12110.011237

In [9]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)

print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [16]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))
df_dummies = pd.get_dummies(df, drop_first=True)
print(df_dummies)

      age     bmi  children      charges  sex_male  smoker_yes  \
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

      region_northwest  region_southeast  region_southwest
0                False             False              True
1                False              True             False
2                False              True             False
3                 True             False             False
4                 True             False             False
...                ...               ...               ...
1333              True             False             False
1334             False             False             False
1335             False              True             False
1336             False             False              True
1337              True             False             False

[1338 rows x 9 columns]

In [17]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))
df_dummies = pd.get_dummies(df, drop_first=True)
corr = df_dummies.corr()
print(corr)

                       age       bmi  children   charges  sex_male  \
age               1.000000  0.109272  0.042469  0.299008 -0.020856
bmi               0.109272  1.000000  0.012759  0.198341  0.046371
children          0.042469  0.012759  1.000000  0.067998  0.017163
charges           0.299008  0.198341  0.067998  1.000000  0.057292
sex_male         -0.020856  0.046371  0.017163  0.057292  1.000000
smoker_yes       -0.025019  0.003750  0.007673  0.787251  0.076185
region_northwest -0.000407 -0.135996  0.024806 -0.039905 -0.011156
region_southeast -0.011642  0.270025 -0.023066  0.073982  0.017117
region_southwest  0.010016 -0.006205  0.021914 -0.043210 -0.004184

                  smoker_yes  region_northwest  region_southeast  \
age                -0.025019         -0.000407         -0.011642
bmi                 0.003750         -0.135996          0.270025
children            0.007673          0.024806         -0.023066
charges             0.787251         -0.039905          0.073982
sex_male            0.076185         -0.011156          0.017117
smoker_yes          1.000000         -0.036945          0.068498
region_northwest   -0.036945          1.000000         -0.346265
region_southeast    0.068498         -0.346265          1.000000
region_southwest   -0.036945         -0.320829         -0.346265

                  region_southwest
age                       0.010016
bmi                      -0.006205
children                  0.021914
charges                  -0.043210
sex_male                 -0.004184
smoker_yes               -0.036945
region_northwest         -0.320829
region_southeast         -0.346265
region_southwest          1.000000

In [26]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))
df_dummies = pd.get_dummies(df, drop_first=True)
corr = df_dummies.corr()
print(corr.loc[:, ["charges"]].sort_values(by="charges", ascending=False))

                   charges
charges           1.000000
smoker_yes        0.787251
age               0.299008
bmi               0.198341
region_southeast  0.073982
children          0.067998
sex_male          0.057292
region_northwest -0.039905
region_southwest -0.043210

In [35]:
url = "https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv"
df = pd.read_csv(url)
df[["sex", "smoker", "region"]] = df[["sex", "smoker", "region"]].astype(("category"))
df_dummies = pd.get_dummies(df, drop_first=True)
data = df_dummies.copy()
target = data.pop("charges")
print(data.head())
print()
print(target.head())

   age     bmi  children  sex_male  smoker_yes  region_northwest  \
0   19  27.900         0     False        True             False
1   18  33.770         1      True       False             False
2   28  33.000         3      True       False             False
3   33  22.705         0      True       False              True
4   32  28.880         0      True       False              True

   region_southeast  region_southwest
0             False              True
1              True             False
2              True             False
3             False             False
4             False             False

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [36]:
data = {
    "size": ["XL", "L", "M", "L", "M"],
    "color": ["red", "green", "blue", "green", "red"],
    "gender": ["female", "male", "male", "female", "female"],
    "price": [199.0, 89.0, 99.0, 129.0, 79.0],
    "weight": [500, 450, 300, 380, 410],
    "bought": ["yes", "no", "yes", "no", "yes"],
}

df = pd.DataFrame(data)
print(df)

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [38]:
data = {
    "size": ["XL", "L", "M", "L", "M"],
    "color": ["red", "green", "blue", "green", "red"],
    "gender": ["female", "male", "male", "female", "female"],
    "price": [199.0, 89.0, 99.0, 129.0, 79.0],
    "weight": [500, 450, 300, 380, 410],
    "bought": ["yes", "no", "yes", "no", "yes"],
}

df = pd.DataFrame(data)

df[["size", "color", "gender", "bought"]] = df[
    ["size", "color", "gender", "bought"]
].astype("category")
df["weight"] = df["weight"].astype("float")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes