In [2]:
import pandas as pd
import numpy as np

In [8]:
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

# df = pd.DataFrame({"col1": s1, "col2": s2})

df = pd.concat([s1, s2], axis=1)
df.columns = ["col1", "col2"]

print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

In [25]:
# print(df.loc[(df["col2"] >= 0.0) & (df["col2"] <= 1.0)][:])
# print(df[(df["col2"] >= 0.0) & (df["col2"] <= 1.0)])
print(df[df["col2"].between(0.0, 1.0)])

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

In [32]:
# col3 = df["col2"] >= 0
# col3 = col3.map({False: -1, True: 1})

col3 = df["col2"].map(lambda x: 1 if x >= 0 else -1)
df["col3"] = col3
print(df)

        col1      col2  col3
0   0.374540 -1.012831    -1
1   0.950714  0.314247     1
2   0.731994 -0.908024    -1
3   0.598658 -1.412304    -1
4   0.156019  1.465649     1
5   0.155995 -0.225776    -1
6   0.058084  0.067528     1
7   0.866176 -1.424748    -1
8   0.601115 -0.544383    -1
9   0.708073  0.110923     1
10  0.020584 -1.150994    -1
11  0.969910  0.375698     1
12  0.832443 -0.600639    -1
13  0.212339 -0.291694    -1
14  0.181825 -0.601707    -1
15  0.183405  1.852278     1
16  0.304242 -0.013497    -1
17  0.524756 -1.057711    -1
18  0.431945  0.822545     1
19  0.291229 -1.220844    -1

In [33]:
df["col4"] = df["col2"].clip(-1, 1)
print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831    -1 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024    -1 -0.908024
3   0.598658 -1.412304    -1 -1.000000
4   0.156019  1.465649     1  1.000000
5   0.155995 -0.225776    -1 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748    -1 -1.000000
8   0.601115 -0.544383    -1 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994    -1 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639    -1 -0.600639
13  0.212339 -0.291694    -1 -0.291694
14  0.181825 -0.601707    -1 -0.601707
15  0.183405  1.852278     1  1.000000
16  0.304242 -0.013497    -1 -0.013497
17  0.524756 -1.057711    -1 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844    -1 -1.000000

In [37]:
minValues = df["col2"].sort_values().head()
maxValues = df["col2"].sort_values(ascending=False).head()
# print(maxValues)
# print()
# print(minValues)

print(df["col2"].nlargest(5))
print()
print(df["col2"].nsmallest(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

7    -1.424748
3    -1.412304
19   -1.220844
10   -1.150994
17   -1.057711
Name: col2, dtype: float64

In [39]:
print(df[["col1", "col2"]].cumsum())

        col1      col2
0   0.374540 -1.012831
1   1.325254 -0.698584
2   2.057248 -1.606608
3   2.655907 -3.018912
4   2.811925 -1.553263
5   2.967920 -1.779039
6   3.026004 -1.711511
7   3.892180 -3.136259
8   4.493295 -3.680642
9   5.201367 -3.569719
10  5.221952 -4.720713
11  6.191862 -4.345015
12  7.024304 -4.945653
13  7.236643 -5.237347
14  7.418468 -5.839054
15  7.601873 -3.986776
16  7.906115 -4.000273
17  8.430872 -5.057984
18  8.862817 -4.235439
19  9.154046 -5.456283

In [42]:
# print(df["col2"].median())
print(df["col2"].quantile())

-0.4180382371592297

In [47]:
# print(df[["col1", "col2"]][df["col2"] > 0.0])
print(df[["col1", "col2"]].query("col2 > 0"))

        col1      col2
1   0.950714  0.314247
4   0.156019  1.465649
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
15  0.183405  1.852278
18  0.431945  0.822545

In [57]:
print(df[["col1", "col2"]].head().to_dict())

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

In [59]:
df_html = df[["col1", "col2"]].head().to_html()
print(df_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>