In [2]:
import numpy as np
import pandas as pd

In [11]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)

print(df)

                                  Name    Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

In [12]:
print(df.columns.values)

['Name' 'Location' 'Year' 'Kilometers_Driven' 'Fuel_Type' 'Transmission'
 'Owner_Type' 'Mileage' 'Engine' 'Power' 'Seats' 'New_Price' 'Price']

In [13]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)

df.drop("New_Price", axis=1, inplace=True)
print(df.head())

                               Name    Location  Year  Kilometers_Driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [14]:
print(df.isnull().sum())

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [17]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 823 entries, 2 to 6014
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               823 non-null    object
 1   Location           823 non-null    object
 2   Year               823 non-null    int64
 3   Kilometers_Driven  823 non-null    int64
 4   Fuel_Type          823 non-null    object
 5   Transmission       823 non-null    object
 6   Owner_Type         823 non-null    object
 7   Mileage            823 non-null    object
 8   Engine             823 non-null    object
 9   Power              823 non-null    object
 10  Seats              823 non-null    float64
 11  New_Price          823 non-null    object
 12  Price              823 non-null    float64
dtypes: float64(2), int64(2), object(9)
memory usage: 90.0+ KB

In [20]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)
# df.columns = df.columns.str.lower()
df.columns = [col.lower() for col in df.columns]
print(df.head())

                               name    location  year  kilometers_driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  fuel_type transmission owner_type     mileage   engine      power  seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   new_price  price
0        NaN   1.75
1        NaN  12.50
2  8.61 Lakh   4.50
3        NaN   6.00
4        NaN  17.74

In [21]:
print(df["owner_type"].value_counts())

owner_type
First             4929
Second             968
Third              113
Fourth & Above       9
Name: count, dtype: int64

In [67]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
df.dropna(inplace=True)
# df["engine"] = df["engine"].str[:-3].str.strip().astype(int)
df["engine"] = df["engine"].map(lambda x: int(x[:-3]))
print(df[["name", "engine"]].head())

                                 name  engine
2                        Honda Jazz V    1199
7   Toyota Innova Crysta 2.8 GX AT 8S    2755
10                   Maruti Ciaz Zeta    1462
15        Mitsubishi Pajero Sport 4X4    2477
20                  BMW 3 Series 320d    1995

In [76]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]

# df["power"] = df["power"].map(lambda x: np.where(x == "null bhp", np.nan, x))
df["power"] = np.where(df["power"] == "null bhp", np.nan, df["power"])
print(df["power"].value_counts()[:5])

power
74 bhp      235
98.6 bhp    131
73.9 bhp    125
140 bhp     123
78.9 bhp    111
Name: count, dtype: int64

In [78]:
url = "https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv"
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]

print(df.groupby(["year"]).size())

year
1998      4
1999      2
2000      4
2001      8
2002     15
2003     17
2004     31
2005     57
2006     78
2007    125
2008    174
2009    198
2010    342
2011    466
2012    580
2013    649
2014    797
2015    744
2016    741
2017    587
2018    298
2019    102
dtype: int64