In [8]:
import pandas as pd
import numpy as np

In [2]:
stocks = ["PLW", "CDR", "11B", "TEN"]
print(pd.Series(stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [4]:
stocks = {"PLW": 387.00, "CDR": 339.5, "TEN": 349.5, "11B": 391.0}
quotations = pd.Series(stocks, dtype="float64")
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [6]:
stocks = {"PLW": 387.00, "CDR": 339.5, "TEN": 349.5, "11B": 391.0}
quotations = pd.Series(stocks, dtype="float64")
quotations = quotations.tolist()
print(quotations)

[387.0, 339.5, 349.5, 391.0]

In [7]:
stocks = {"PLW": 387.00, "CDR": 339.5, "TEN": 349.5, "11B": 391.0}
quotations = pd.Series(stocks, dtype="float64")
print(pd.DataFrame(quotations, columns=["price"]))

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [17]:
print(
    pd.Series(
        data=np.arange(10.0, 100.0, 10, dtype="float64"),
        index=np.arange(101, 110, dtype="int"),
    )
)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [22]:
series = pd.Series(["001", "002", "003", "004"], list("abcd"))
print(series.astype("int64"))
# print(pd.to_numeric(series))

a    1
b    2
c    3
d    4
dtype: int64

In [26]:
stocks = {"PLW": 387.00, "CDR": 339.5, "TEN": 349.5, "11B": 391.0}
quotations = pd.Series(data=stocks)
quotations = pd.concat([quotations, pd.Series({"BBT": 25.5, "F51": 19.2})])
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [33]:
stocks = {
    "PLW": 387.00,
    "CDR": 339.5,
    "TEN": 349.5,
    "11B": 391.0,
    "BBT": 25.5,
    "F51": 19.2,
}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ["ticker", "price"]
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [40]:
data = pd.array(
    [
        ["company", "price", "ticker"],
        ["Amazon", "2375.0", "AMZN.US"],
        ["Microsoft", "178.6", "MSFT.US"],
        ["Facebook", "179.2", "FB.US"],
    ],
    dtype="<U14",
)
companies = pd.DataFrame(
    data[1:],
    columns=data[0],
)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [44]:
data = pd.array(
    [
        ["company", "price", "ticker"],
        ["Amazon", "2375.0", "AMZN.US"],
        ["Microsoft", "178.6", "MSFT.US"],
        ["Facebook", "179.2", "FB.US"],
    ],
    dtype="<U14",
)
companies = pd.DataFrame(
    data[1:],
    columns=data[0],
)

companies = companies.set_index("company")
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US