In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))

print(df[df["C"] > 0.8])

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

In [4]:
print(df[(df["C"] > 0.3) & (df["D"] < 0.7)])

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [7]:
for row in df.head().iterrows():
    print(row[1])

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

In [26]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))

df.iloc[3, 1] = np.nan
df.loc[8, "D"] = np.nan
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

In [27]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))
df.iloc[3, 1] = np.nan
df.loc[8, "D"] = np.nan

df1 = df.dropna()
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

In [32]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))
df.iloc[3, 1] = np.nan
df.loc[8, "D"] = np.nan

df1 = df.dropna()
df1 = df1.reset_index(drop=True)

print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

In [33]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))
df.iloc[3, 1] = np.nan
df.loc[8, "D"] = np.nan

print(df.isnull().sum())

A    0
B    1
C    0
D    1
dtype: int64

In [34]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))
df.iloc[3, 1] = np.nan
df.loc[8, "D"] = np.nan

df = df.fillna(0)
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.000000  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.000000
9  0.304614  0.097672  0.684233  0.440152

In [39]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))

df = df[["D", "A", "B", "C"]]
print(df)

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.212339  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.808397  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233

In [46]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list("ABCD"))
df = df.drop("D", axis=1)
print(df)

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.212339  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233